
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4ea2fc, #1578e3);
    border: 0.25rem solid  #fb942d;
    min-height: 100vh;
}
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    height: 100vh;
    text-align: center;
}
h1 {
    color: #ffffff;
    font-size: 1rem;
    padding: 0.7rem 2rem;
    background-color: #fb942d;
    top: 0;
    border-radius: 0 0 1.5rem 1.5rem ;
    position: fixed;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
}
.control-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1.6rem;
    cursor: pointer;
    background: radial-gradient(circle at center, #4ea2fc, #1578e3);
    color: #fff;
    border: none;
    border-radius: 3rem;
    position: fixed;
    bottom: 0.9rem;
    z-index: 30;
}

.button-rules{
    position:fixed;
    font-size: 1.25rem;
    top: 0.5rem;
    left: 5%;
    padding: 0.3rem 4rem;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    background: linear-gradient(to right, #f87c00,#fb942d);
    z-index: 20;
}
#button-menu{
    position: fixed;
    font-size: 1.25rem;
    top: 0.5rem;
    right: 1%;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: #fb942d; 
    color: #ffffff;
    z-index: 20;
}
#cash{
    color: #ffffff;
    font-size: 1.25rem;
    padding: 0.3rem 2rem;
    top: 0.5rem;
    right: 3%;
    position: fixed;
    z-index: 20;
}
#top-bar{
    border-radius: 1.5rem;
    width: 99%;
    height: 2.5rem;
    background-color: #0162c9;
    z-index: 10;
    position: fixed;
    top: 0.25rem;
    border: none;
}
#bottom-bar{
    border-radius: 3rem;
    width: 99%;
    height: 5rem;
    background-color: #0162c9;
    z-index: 10;
    position: fixed;
    bottom: 0.25rem;
    border: none;
}
#button-bet{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 5rem;
    cursor: pointer;
    background-color: #57db2c;
    background: radial-gradient(circle at center, #57db2c, #268d04);
    color: #ffffff;
    border: none;
    border-radius: 2rem;
    position: fixed;
    bottom: 0.9rem;
    z-index: 20;
    right: 20%;
}
#button-cash-out{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 5rem;
    cursor: pointer;
    background: radial-gradient(circle at center, #f87c00, #fb942d);
    color: #ffffff;
    border: none;
    border-radius: 2rem;
    position: fixed;
    bottom: 0.9rem;
    z-index: 20;
    right: 20%;
}

#button-replay {
    right: 38%;
}

#button-plus {
    left: 50%;
}

#button-line {
    left: 45%;
}

#button-minus {
    left: 41%;
}

#bar-background-set{
    border-radius: 3rem;
    width: 30%;
    height: 4.9rem;
    background-color: #004c9c;
    z-index: 20;
    position: fixed;
    bottom: 0.3rem;
    border: none;
    left: 25%;
}
#bar-background-staf{
    border-radius: 1.5rem;
    width: 10%;
    height: 2.2rem;
    background-color: #003874;
    z-index: 30;
    position: fixed;
    bottom: 1rem;
    border: none;
    left: 29%;
}
#staf{
    color: #ffffff;
    font-size: 1.25rem;
    position: fixed;
    padding: 0.5rem 1rem;
    z-index: 40;
    position: fixed;
    bottom: 1rem;
    border: none;
    left: 32%;
}
#bet{
    color: #ffffff;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    z-index: 40;
    position: fixed;
    bottom: 2.7rem;
    border: none;
    left: 30%;
}

#game-grid {
    display: grid;
    grid-template-columns: repeat(5, 7rem); 
    grid-template-rows: repeat(5, 7rem); 
    gap: 1rem; 
    position: fixed; 
    top: 48%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 50; 
}

.grid-cell {
    width: 7rem; 
    height: 6rem; 
    background: radial-gradient(ellipse at center, #014a99, #1578e3); 
    border-radius: 0.5rem; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    cursor:pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.win {
    background: radial-gradient(ellipse at center,#fb942d, #ff8000); 
}
.loss {
    background: radial-gradient(ellipse at center, #f93535, #9a2424); 
}
#button-random {
    border-radius: 2rem;
    width: 16%;
    height: 2.8rem;
    background-color: #003874;
    z-index: 40;
    position: fixed;
    bottom: 8rem;
    border: none;
    left: 30%;
    color:#ffffff;
    font-size:1.5rem;
    cursor: pointer;
}
#button-auto{
    border-radius: 2rem;
    width: 16%;
    height: 2.8rem;
    background-color: #003874;
    z-index: 40;
    position: fixed;
    bottom: 8rem;
    border: none;
    right: 30%;
    color:#ffffff;
    font-size:1.5rem;
    cursor: pointer;
}
#background-mines{
    border-radius: 2rem;
    width: 47%;
    height: 3rem;
    background-color: #003874;
    z-index: 30;
    position: fixed;
    top: 5rem;
    border: none;
}
.mines-select{
    border-radius: 2rem;
    width: 14%;
    height: 2.5rem;
    z-index: 40;
    position: fixed;
    top: 5.2rem;
    border: none;
    color: white;
    font-size: 1.5rem;
    left: 30%;
    cursor:pointer;
    background: radial-gradient(circle at center, #004c9c, #026bda);
}
#text-next{
    border-radius: 2rem;
    width: 14%;
    height: 2.5rem;
    z-index: 40;
    position: fixed;
    top: 5.2rem;
    border: none;
    color: white;
    font-size: 1.5rem;
    right: 30%;
    background: radial-gradient(circle at center, #e0a100, #ffd000);
    display: flex;
  justify-content: center;
  align-items: center;
}
.cell-front,
    .cell-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateY(180deg);
}
.flipped {
    transform: rotateY(180deg);
}
/* Стили для оверлея (затемненный фон) */
    .modal-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    /* Стили для модального окна */
    .modal-content {
      background-color: #323232;
      padding: 2rem;
      border-radius: 1rem;
      height: 30%;
      width: 20%;
      position: relative;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Стили для открытого состояния */
    .modal-overlay.active {
      display: flex;
    }

    .modal-overlay.active .modal-content {
      transform: translateY(0);
      opacity: 1;
    }

    /* Стили для крестика */
    .modal-close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
      color: #cbcbcb;
      transition: color 0.2s ease;
    }


    /* Стили для контента модального окна */
    .modal-content h3 {
      margin-top: 2rem;
      color: #ffffff;
    }
    .modal-content h2 {
      margin-top: 0;
      color: #ffffff;
      display: flex;
    }

    .modal-content p {
      margin: 10px 0;
      color: #ffffff;
    }